<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hermes Mail Solutions</title>

    <!-- Bootstrap Core CSS -->
    <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/public/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/public/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<script>
    function go_before() {
        document.frm3.submit();
    }

    function go_next() {
        document.frm2.submit();
    }

</script>


<!---------------------------------------------------------->
<!--------------------- 사용자 각종 설정 --------------------->
<!---------------------------------------------------------->
<script>
    // <!-- 체크박스 전체선택-------------------------------------------------------------------->
    // <!--http://aramk.tistory.com/21 -->
    function totalcheck() {

        if ($("#all_checkbox").is(':checked')) {
            $("input[name=checkboxtest").prop("checked", true);
            document.getElementById("b_remove").className = "btn btn-outline btn-danger";
        } else {
            $("input[name=checkboxtest").prop("checked", false);
            document.getElementById("b_remove").className = "btn btn-default disabled";
        }

    }
    // <!-- 사용자삭제 경고창?-------------------------------------------------------------------->
    //http://aramk.tistory.com/26
    function check() {
        var temp = $("input:checkbox[name=checkboxtest]:checked").length;


        if (temp >= 1) {
            if (confirm("선택하신 " + temp + "명의 사원을 삭제하시겠습니까?")) {
                // 선택하고 확인을할시 submit이 된다.
                document.getElementById("employeeform").submit();
                alert("삭제되었습니다.");
                $("input[name=checkboxtest").prop("checked", false);
                $("input[name=all]").prop("checked", false);
            }
        } else if (temp == 0) {
            alert("삭제하실 사원의 체크박스를 선택해주세요");
        }
    }

    // 삭제 버튼 변경
    function bcheck() {
        var temp = $("input:checkbox[name=checkboxtest]:checked").length;
        if (temp >= 1) {
            document.getElementById("b_remove").className = "btn btn-outline btn-danger";
        } else {
            document.getElementById("b_remove").className = "btn btn-default disabled";
        }
    }

    // 모달창 값 입력시 버튼 색 변경
    function mykeydown() {
        var temp1 = $("input[name=employee_name_add]").val();
        var temp2 = $("input[name=email_add]").val();

        if (temp1.length != 0 && temp2.length != 0) {
            document.getElementById("submitForm").className = "btn btn-outline btn-success";
        } else {
            document.getElementById("submitForm").className = "btn btn-default";
        }
    }

</script>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index.html">Hermes Mail Solutions</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/info"><i class="fa fa-user fa-fw"></i> 계정 정보</a>
                        </li>
                        <li><a href="/setting"><i class="fa fa-gear fa-fw"></i> 설정</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> 로그아웃</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/index.html"><i class="fa fa-home fa-fw"></i> 메인 화면 </a>
                        </li>
                        <li>
                            <a href="/template.html"><i class="fa fa-th-large fa-fw"></i> 템플릿 관리 </a>
                        </li>
                        <li>
                            <a href="/User_manage"><i class="fa  fa-user fa-fw"></i> 사용자 / 그룹 관리 </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa  fa-calendar fa-fw"></i> 훈련 관리 <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/training_generate.html">훈련 생성 </a>
                                </li>
                                <li>
                                    <a href="/training_list.html">훈련 목록 </a>
                                </li>
                                <li>
                                    <a href="/training_result.html">훈련 결과 </a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="/reporting.html"><i class="fa fa-bar-chart-o"></i> 훈련 결과 비교  </a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
            <div class="row">
                    <form method="post" name="frm3" action="/training_generate_sender">
                            <input type=hidden value="{{training_name}}" name="Training_name">
                            <input type=hidden value="{{training_type}}" name="Training_type">
                            <input type=hidden value="{{training_product}}" name="Training_product">
                            <input type=hidden value="{{training_sender}}" name="Training_sender">
                            <input type=hidden value="{{training_sendermail}}" name="Training_sendermail">
                            <input type=hidden value="{{training_title}}" name="Training_title">
                            <input type=hidden value="{{training_message}}" name="Training_message">
                    </form>
                <div class="col-lg-12">
                    <h1 class="page-header"> 훈련생성 - 사용자 추가
                        <span style="float: right">
                             <button class="btn btn-default" type="button" onclick="go_before()">이전</button>
                                <button class="btn btn-default" type="button" onclick="go_next()">다음</button>
                        </span>
                    </h1>
                </div>

                <div class="col-lg-12">
                    <form method="post" name="frm" action="/training_generate_groupadd">
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline btn-info btn-lg"><i class="fa fa-user"></i> 사용자</button>
                            <button type="submit" class="btn btn-outline btn-default btn-lg"><i class="fa fa-group"></i> 그룹</button>
                        </div>
                            <input type=hidden value="{{training_name}}" name="Training_name">
                            <input type=hidden value="{{training_type}}" name="Training_type">
                            <input type=hidden value="{{training_product}}" name="Training_product">
                            <input type=hidden value="{{training_sender}}" name="Training_sender">
                            <input type=hidden value="{{training_sendermail}}" name="Training_sendermail">
                            <input type=hidden value="{{training_title}}" name="Training_title">
                            <input type=hidden value="{{training_message}}" name="Training_message">
                    </form>
                    <form method="post" name="frm2" action="/training_generate_result">
                        <div style="padding:10px;"></div>
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <div style="padding:5px;"></div>
                                <div>
                                    <table id="myTable" class="display nowrap dataTable dtr-inline collapsed TABLE" style="text-align :center; border:0px solid #dddddd;">

                                        <thead>
                                            <tr>
                                                <th style="text-align :center;"><input type="checkbox" name="all" id="all_checkbox" onClick="totalcheck();"></th>
                                                <th style="text-align :center;">번호</th>
                                                <th style="text-align :center;">사원명</th>
                                                <th style="text-align :center;">이메일</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- handlebars의 each문을 사용하여 데이터를 출력한다.-->
                                            {{#each values1}}
                                            <tr>
                                                <center>
                                                    <td><input type=checkbox name="checkboxtest" Onclick="bcheck()" value="{{this.Emp_No}}"></td>
                                                    <td>{{this.Emp_No}}</td>
                                                    <td>{{this.Emp_Name}}</td>
                                                    <td>{{this.Emp_Email}}</td>
                                                </center>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                <input type=hidden value="{{training_name}}" name="Training_name">
                                <input type=hidden value="{{training_type}}" name="Training_type">
                                <input type=hidden value="{{training_product}}" name="Training_product">
                                <input type=hidden value="{{training_sender}}" name="Training_sender">
                                <input type=hidden value="{{training_sendermail}}" name="Training_sendermail">
                                <input type=hidden value="{{training_title}}" name="Training_title">
                                <input type=hidden value="{{training_message}}" name="Training_message">
                                <!-- /.col-lg-12 -->

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/public/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/public/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/public/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/public/vendor/raphael/raphael.min.js"></script>
    <script src="/public/vendor/morrisjs/morris.min.js"></script>
    <script src="/public/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/public/dist/js/sb-admin-2.js"></script>

</body>

</html>
