<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hermes Mail Solutions</title>

    <!-- Bootstrap Core CSS -->
    <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/public/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/public/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<script>
    function go_next() {
        document.frm.submit();
    }

    function go_before() {
        document.frm3.submit();
    }
    function start1(){
        var button1 = document.getElementById('syear');
        button1.disabled = true;
        var button2 = document.getElementById('smonth');
        button2.disabled = true;
        var button3 = document.getElementById('sday');
        button3.disabled = true;
        var button4 = document.getElementById('shour');
        button4.disabled = true;
        var button5 = document.getElementById('sminute');
        button5.disabled = true;
    }   
    function start2(){
        var button1 = document.getElementById('syear');
        button1.disabled = false;
        var button2 = document.getElementById('smonth');
        button2.disabled = false;
        var button3 = document.getElementById('sday');
        button3.disabled = false;
        var button4 = document.getElementById('shour');
        button4.disabled = false;
        var button5 = document.getElementById('sminute');
        button5.disabled = false;
    }
    function start3(){
        var button1 = document.getElementById('eyear');
        button1.disabled = true;
        var button2 = document.getElementById('emonth');
        button2.disabled = true;
        var button3 = document.getElementById('eday');
        button3.disabled = true;
        var button4 = document.getElementById('ehour');
        button4.disabled = true;
        var button5 = document.getElementById('eminute');
        button5.disabled = true;
    }   
    function start4(){
        var button1 = document.getElementById('eyear');
        button1.disabled = false;
        var button2 = document.getElementById('emonth');
        button2.disabled = false;
        var button3 = document.getElementById('eday');
        button3.disabled = false;
        var button4 = document.getElementById('ehour');
        button4.disabled = false;
        var button5 = document.getElementById('eminute');
        button5.disabled = false;
    }
</script>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Hermes Mail Solutions</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/info"><i class="fa fa-user fa-fw"></i> 계정 정보</a>
                        </li>
                        <li><a href="/setting"><i class="fa fa-gear fa-fw"></i> 설정</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/login.html"><i class="fa fa-sign-out fa-fw"></i> 로그아웃</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/index.html"><i class="fa fa-home fa-fw"></i> 메인 화면 </a>
                        </li>
                        <li>
                            <a href="/template.html"><i class="fa fa-th-large fa-fw"></i> 템플릿 관리 </a>
                        </li>
                        <li>
                            <a href="/User_manage"><i class="fa  fa-user fa-fw"></i> 사용자 / 그룹 관리 </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa  fa-calendar fa-fw"></i> 훈련 관리 <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/training_generate.html">훈련 생성 </a>
                                </li>
                                <li>
                                    <a href="/training_list.html">훈련 목록 </a>
                                </li>
                                <li>
                                    <a href="/training_result.html">훈련 결과 </a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="/reporting.html"><i class="fa fa-bar-chart-o"></i> 훈련 결과 비교  </a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
            <div class="row">
                 <form method="post" name="frm3" action="/training_generate_useradd">
                    <input type=hidden value="{{training_name}}" name="Training_name">
                    <input type=hidden value="{{training_type}}" name="Training_type">
                    <input type=hidden value="{{training_product}}" name="Training_product">
                    <input type=hidden value="{{training_sender}}" name="Training_sender">
                    <input type=hidden value="{{training_sendermail}}" name="Training_sendermail">
                    <input type=hidden value="{{training_title}}" name="Training_title">
                    <input type=hidden value="{{training_message}}" name="Training_message">
                </form>
                <form method="post" name="frm" action="/training_generate_end">

                <div class="col-lg-12">
                    <h1 class="page-header"> 훈련생성 - 결과
                        <span style="float: right">
                        <button class="btn btn-default" type="button" onclick="go_before()">이전</button>
                        <button class="btn btn-default" type="button" onclick="go_next()" >생성</button>
                    </span>
                    </h1>
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h5><b>  캠페인 시작일</b></h5>
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <input type=radio checked value="0" name="start" onclick=start1()> 즉시시작 &nbsp;<input type=radio value="1" name="start" onclick=start2()> 예약된 시간에 시작
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table>
                                    <tr>
                                        <td><label>Year</label><select id='syear' class='form-control' name='syear' disabled>
                                        <option value='' selected >년도</option>
                                            <script>
                                            for (var i=2018; i<=2025; i++)
                                                {
                                                    document.write("<option value="+i+">"+i+"</option>");
                                                }
                                            </script>
                                        </select></td>
                                        <td><label> </label>&nbsp;&nbsp;&nbsp;</td>
                                        <td><label>Month</label><select class='form-control' id='smonth' name='smonth' disabled>
                                        <option value='' selected>월</option>
                                            <script>
                                            for (var i=1; i<=12; i++)
                                                {
                                                    document.write("<option value="+i+">"+i+"</option>");
                                                }
                                            </script>
                                        
                                        </select></td>
                                        <td><label> </label>&nbsp;&nbsp;&nbsp;</td>
                                        <td><label>Day</label><select class='form-control' id='sday' name='sday' disabled>
                                        <option value='' selected>일</option>
                                            <script>
                                            for (var i=1; i<=31; i++)
                                                {
                                                    document.write("<option value="+i+">"+i+"</option>");
                                                }
                                            </script>
                                            </select></td>
                                        <td><label> </label>&nbsp;&nbsp;&nbsp;</td>
                                        <td><label>Hour</label><select class='form-control' id='shour' name='shour' disabled>
                                            <script>
                                            for (var i=0; i<24; i++)
                                                {
                                                    document.write("<option value="+i+">"+i+"</option>");
                                                }
                                            </script>

                                        </select></td>
                                        <td><label> </label>&nbsp;&nbsp;&nbsp;</td>
                                        <td><label>Minute</label><select class='form-control' id='sminute' name='sminute' disabled>
                                            <script>
                                            for (var i=0; i<=59; i++)
                                                {
                                                    document.write("<option value="+i+">"+i+"</option>");
                                                }
                                            </script>


                                        </select></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h5><b>  캠페인 종료일</b></h5>
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <input type=radio checked value="0" name="end" onclick=start3()> 자동종료 &nbsp;<input type=radio value="1" name="end" onclick=start4()> 예약된 시간에 종료
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table>
                                    <tr>
                                        <td><label>Year</label><select class='form-control' id='eyear' name='eyear' disabled>
                                        <option value='' selected>년도</option>
                                            <script>
                                            for (var i=2018; i<=2025; i++)
                                                {
                                                    document.write("<option value="+i+">"+i+"</option>");
                                                }
                                            </script>
                                        </select></td>
                                        <td><label> </label>&nbsp;&nbsp;&nbsp;</td>
                                        <td><label>Month</label><select class='form-control' id='emonth' name='emonth' disabled>
                                        <option value='' selected>월</option>
                                            <script>
                                            for (var i=1; i<=12; i++)
                                                {
                                                    document.write("<option value="+i+">"+i+"</option>");
                                                }
                                            </script>
                                        
                                        </select></td>
                                        <td><label> </label>&nbsp;&nbsp;&nbsp;</td>
                                        <td><label>Day</label><select class='form-control' id='eday' name='eday' disabled>
                                        <option value='' selected>일</option>
                                            <script>
                                            for (var i=1; i<=31; i++)
                                                {
                                                    document.write("<option value="+i+">"+i+"</option>");
                                                }
                                            </script>
                                            </select></td>
                                        <td><label> </label>&nbsp;&nbsp;&nbsp;</td>
                                        <td><label>Hour</label><select class='form-control' id='ehour' name='ehour' disabled>
                                            <script>
                                            for (var i=0; i<24; i++)
                                                {
                                                    document.write("<option value="+i+">"+i+"</option>");
                                                }
                                            </script>

                                        </select></td>
                                        <td><label> </label>&nbsp;&nbsp;&nbsp;</td>
                                        <td><label>Minute</label><select class='form-control' id='eminute' name='eminute' disabled>
                                            <script>
                                            for (var i=0; i<=59; i++)
                                                {
                                                    document.write("<option value="+i+">"+i+"</option>");
                                                }
                                            </script>


                                        </select></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-md-6">
                    <h5><b> 이메일</b></h5>
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            공격
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table>
                                    <tr>
                                        <td rowspan="6"><img src="/public/template/png/{{this.training_product}}.png" width="175" height="100">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>훈련명:&nbsp; </td>
                                        <td> {{training_name}} </td>
                                    </tr>
                                    <tr>
                                        <td>보낸 사람 이름 :&nbsp; </td>
                                        <td> {{training_sender}} </td>
                                    </tr>
                                    <tr>
                                        <td>보낸 사람 이메일 :&nbsp; </td>
                                        <td> {{training_sendermail}} </td>
                                    </tr>
                                    <tr>
                                        <td>제목 :&nbsp; </td>
                                        <td> {{training_title}} </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------------------------------------------------------------>


                <!---------------------------------------------------------------------->




                <!-- /.col-lg-12 -->
                
                    <input type=hidden value="{{training_name}}" name="Training_name">
                    <input type=hidden value="{{training_type}}" name="Training_type">
                    <input type=hidden value="{{training_product}}" name="Training_product">
                    <input type=hidden value="{{training_sender}}" name="Training_sender">
                    <input type=hidden value="{{training_sendermail}}" name="Training_sendermail">
                    <input type=hidden value="{{training_title}}" name="Training_title">
                    <input type=hidden value="{{training_message}}" name="Training_message">
                    <input type=hidden value="{{userid}}" name="Training_userid">
                    <input type=hidden value="{{groupid}}" name="Training_groupid">
                </form>
            </div>
        </div>
        <!-- /#page-wrapper -->
        </div>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/public/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/public/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/public/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/public/vendor/raphael/raphael.min.js"></script>
    <script src="/public/vendor/morrisjs/morris.min.js"></script>
    <script src="/public/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/public/dist/js/sb-admin-2.js"></script>

</body>

</html>
