<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hermes Mail Solutions</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <!---------- 원그래프 ---------->
    <style>
        .flex-wrapper {
            display: flex;
            flex-flow: row nowrap;
        }

        .single-chart {
            width: 44%;
            justify-content: space-around;
        }

        .circular-chart {
            display: block;
            margin: 10px auto;
            max-width: 100%;
            max-height: 100%;
        }

        .circle-bg {
            fill: none;
            stroke: #eee;
            stroke-width: 3.8;
        }

        .circle {
            fill: none;
            stroke-width: 4;
            stroke-linecap: round;
            animation: progress 1s ease-out forwards;
        }

        @keyframes progress {
            0% {
                stroke-dasharray: 0 100;
            }
        }


        .circular-chart.green .circle {
            stroke: #a00b0b;
            align-content: center;
            align-items: center;
        }



        .percentage_full {
            fill: #666;
            font-family: sans-serif;

            text-anchor: middle;
        }

    </style>
    <!---------- /.원그래프 ---------->


    <!---------- 반 원그래프 ---------->
    <style>
        body {
            background: #fff;
        }

        .metric {
            padding: 10%;
        }

        .metric svg {
            max-width: 70%;
        }

        .metric path {
            stroke-width: 75;
            stroke: #ecf0f1;
            fill: none;
        }

        .metric text {
            font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .metric.participation path.data-arc {
            stroke: #3498db;
        }

        .metric.participation text {
            fill: #3498db;
        }

        .metric.completion path.data-arc {
            stroke: #27ae60;
        }

        .metric.completion text {
            fill: #27ae60;
        }

        .metric.blocked path.data-arc {
            stroke: #e74c3c;
        }

        .metric.blocked text {
            fill: #e74c3c;
        }

    </style>

    <script>
        $(function() {

            var polar_to_cartesian, svg_circle_arc_path, animate_arc;

            polar_to_cartesian = function(cx, cy, radius, angle) {
                var radians;
                radians = (angle - 90) * Math.PI / 180.0;
                return [Math.round((cx + (radius * Math.cos(radians))) * 100) / 100, Math.round((cy + (radius * Math.sin(radians))) * 100) / 100];
            };

            svg_circle_arc_path = function(x, y, radius, start_angle, end_angle) {
                var end_xy, start_xy;
                start_xy = polar_to_cartesian(x, y, radius, end_angle);
                end_xy = polar_to_cartesian(x, y, radius, start_angle);
                return "M " + start_xy[0] + " " + start_xy[1] + " A " + radius + " " + radius + " 0 0 0 " + end_xy[0] + " " + end_xy[1];
            };

            animate_arc = function(ratio, svg, perc) {
                var arc, center, radius, startx, starty;
                arc = svg.path('');
                center = 500;
                radius = 450;
                startx = 0;
                starty = 450;
                return Snap.animate(0, ratio, (function(val) {
                    var path;
                    arc.remove();
                    path = svg_circle_arc_path(500, 500, 450, -90, val * 180.0 - 90);
                    arc = svg.path(path);
                    arc.attr({
                        class: 'data-arc'
                    });
                    perc.text(Math.round(val * 100) + '%');
                }), Math.round(1000 * ratio), mina.easeinout);
            };

            $('.metric').each(function() {
                var ratio, svg, perc;
                ratio = $(this).data('ratio');
                svg = Snap($(this).find('svg')[0]);
                perc = $(this).find('text.percentage');
                animate_arc(ratio, svg, perc);
            });
        });

    </script>
    <!---------- /. 반 원그래프 ---------->

</head>

<script>
    function go_next() {
        location.href = "training_generate_result.html"
    }

    function go_before() {
        history.back();
    }

</script>



<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Hermes Mail Solutions</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> 계정 정보</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> 설정</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> 로그아웃</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="../index.html"><i class="fa fa-home fa-fw"></i> 메인 화면 </a>
                        </li>
                        <li>
                            <a href="../template.html"><i class="fa fa-th-large fa-fw"></i> 템플릿 관리 </a>
                        </li>
                        <li>
                            <a href="../../pages/User_manage"><i class="fa  fa-user fa-fw"></i> 사용자 / 그룹 관리 </a>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa  fa-calendar fa-fw"></i> 훈련 관리 <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="../training_generate.html">훈련 생성 </a>
                                </li>
                                <li>
                                    <a href="../training_list.html">훈련 목록 </a>
                                </li>
                                <li>
                                    <a href="../training_result.html">훈련 결과 </a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="../mailsend.html"><i class="fa fa-envelope-o fa-fw"></i> 메일 전송 </a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">{{#each tmp}}{{this.Train_Name}}{{/each}}

                        </h1>

                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" onclick="window.location.href='../training_list_traindetail/{{#each tmp}}{{this.Train_No}}{{/each}}'" class="btn btn-outline btn-info btn-lg"><i class="fa fa-bar-chart-o"></i> 훈련 </button>
                            <button type="button" onclick="window.location.href='../training_list_userdetail/{{#each tmp}}{{this.Train_No}}{{/each}}'" class="btn btn-outline btn-default btn-lg"><i class="fa fa-group"></i> 사용자</button>
                        </div>
                        <span style="float: right"><input type=button class="btn btn-outline btn-danger btn-lg" onclick="window.location.href='../Train_Quit/{{#each tmp}}{{this.Train_No}}{{/each}}'" value="훈련 종료"></span>
                        <div style="padding:10px;"></div>
                        <!------------------------------------------------------------------------------------------>

                        <table width="100%" border=0>
                            <tr>
                                <td width="48%">

                                    <!-----------------------------------상세정보----------------------------------------------------->

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    세부사항
                                                </div>

                                                <!-- /.panel-heading -->
                                                <div class="panel-body">
                                                    <!------  상세정보 테이블 -->
                                                    {{#each tmp}}
                                                    <table border=0 style="min-width: 310px; height: 300px; max-width: 400px; margin: 0 ">
                                                        <tr>
                                                            <td>훈련제목</td>
                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td align=left>{{this.Train_Name}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>훈련타입</td>
                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td align=left>
                                                                {{this.Train_Type}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>훈련 총 인원</td>
                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td align=left>{{this.Train_TotalPeo}} 명</td>
                                                        </tr>
                                                        <tr>
                                                            <td>훈련 시작일 </td>
                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td align=left>{{this.Start_Time}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>훈련 종료일 </td>
                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td align=left>{{this.Finish_Time}}</td>
                                                        </tr>
                                                    </table>
                                                    {{/each}}
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!---------------------------/. 상세정보--------------------------------------------------------->

                                </td>
                                <td width="1%">&nbsp;</td>
                                <td width="48%">

                                    <!-----------------------------------감염률(전체)------------------------------------------------->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    URL 클릭 
                                                </div>

                                                <div class="panel-body">
                                                    <!---------- 원그래프 ---------->
                                                        <table border=0 style="height: 300px; width: 600px; margin: 0 ">
                                                            <tr align=center>
                                                                <td >
                                                                    <div class="single-chart" style="align-content: center;">
                                                                        {{#each tmp}}
                                                                        <svg viewbox="0 0 36 36" class="circular-chart green" style="align-content: center;">
                                                                          <path class="circle-bg"
                                                                            d="M18 2.0845
                                                                              a 15.9155 15.9155 0 0 1 0 31.831
                                                                              a 15.9155 15.9155 0 0 1 0 -31.831"
                                                                          />
                                                                          <path class="circle"
                                                                            stroke-dasharray="{{Train_Totalattackrate}}, 100"
                                                                            d="M18 2.0845
                                                                              a 15.9155 15.9155 0 0 1 0 31.831
                                                                              a 15.9155 15.9155 0 0 1 0 -31.831"
                                                                          />
                                                                          <text x="18" y="18.5" class="percentage_full" style=" font-size: 0.5em;">{{Train_Totalattackrate}}%</text>
                                                                        <text x="18" y="25.0"  font-size="3.5" class="percentage_full">{{this.Train_Totalattackno}}명</text>    
                                                                        </svg>
                                                                        {{/each}}
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    <!---------- /.원그래프 ---------->

                                                    <!-- <div id="container" style="min-width: 210px; height: 300px; max-width: 500px; margin: 0 auto"></div> -->

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!---------------------------/. 감염률(전체)-------------------------->

                                </td>
                            </tr>
                            <!-----------------------------------그래프 3개 묶음------------------------------------------------->
                            <tr>
                                <td colspan=3 rospan=2>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    그래프 
                                                </div>

                                                <!-- /.panel-heading -->
                                                <div class="panel-body">
                                                    {{#each tmp}}
                                                    <table width="100%" border=0>
                                                        <tr>
                                                            <td width="33%">

                                                                <div class="metric participation" data-ratio="{{this.Train_DelEmPeoRate}}">
                                                                    <svg viewBox="0 0 1000 500">
            <path d="M 950 500 A 450 450 0 0 0 50 500"></path>
            <text class='percentage' text-anchor="middle" alignment-baseline="middle" x="500" y="300" font-size="140" font-weight="bold"></text>
            <text class='title' text-anchor="middle" alignment-baseline="middle" x="500" y="450" font-size="90" font-weight="normal">메일 삭제</text>
          </svg>
                                                                </div>

                                                            </td>
                                                            <td width="33%">
                                                                <div class="metric completion" data-ratio="{{this.Train_ClickPeoRate}}">
                                                                    <svg viewBox="0 0 1000 500">
            <path d="M 950 500 A 450 450 0 0 0 50 500"></path>
            <text class='percentage' text-anchor="middle" alignment-baseline="middle" x="500" y="300" font-size="140" font-weight="bold"></text>
            <text class='title' text-anchor="middle" alignment-baseline="middle" x="500" y="450" font-size="90" font-weight="normal">이메일 열람 여부</text>
          </svg>
                                                                </div>

                                                            </td>
                                                            <td width="33%">

                                                                <div class="metric blocked" data-ratio="{{this.Train_SpamPeoRate}}">
                                                                    <svg viewBox="0 0 1000 500">
            <path d="M 950 500 A 450 450 0 0 0 50 500"></path>
            <text class='percentage' text-anchor="middle" alignment-baseline="middle" x="500" y="300" font-size="140" font-weight="bold"></text>
            <text class='title' text-anchor="middle" alignment-baseline="middle" x="500" y="450" font-size="90" font-weight="normal">스팸 처리</text>
          </svg>
                                                                </div>

                                                            </td>
                                                        </tr>
                                                    </table>
                                                    {{/each}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </table>

                        <!--------------------------------------------------------------------------->


                    </div>
                </div>
                <!-- /.panel body -->
            </div>
        </div>
        <!-- /.col-lg-6 -->

    </div>
    <!-- /.col-lg-6 -->



    <!-- /.panel-body -->

    <!-- /.panel -->



    <!-- /#wrapper -->

    <!-- /.col-lg-12 -->

    <!-- jQuery -->
    <script src="../../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../../vendor/raphael/raphael.min.js"></script>
    <script src="../../vendor/morrisjs/morris.min.js"></script>
    <script src="../../data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../dist/js/sb-admin-2.js"></script>



</body>

</html>
